/* Burgermenu CSS Animation */

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

/* Burgermenu CSS Animation Slut */

#pagewrap {
    max-width: 800px;
    margin: auto;
    border: 3px solid lightgrey;
    padding: 2em;
    margin-bottom: 1.5em;
}

footer {
    background-color: #cbf0f0;
    color: #313131 !important;
    text-align: center;
    padding: 3em;
}

/* Video CSS */

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 2em;
    border: 3px solid lightgrey;
    margin-bottom: 1.5em;
}

/* Video CSS Mobil */

@media only screen and (max-width: 600px) {
    iframe {
        padding: 2em;
        border: 3px solid lightgrey;
        margin-bottom: 1.5em;
    }
}

#pet_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

/*To Top Button Styling*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #cbf0f0;
    color: #313131 !important;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.48);
}

#myBtn:hover {
    background-color: #d2e6e6;
}

/*Navbar Styling*/

.navbar-default {
    background-color: #cbf0f0 !important;
}

.active a {
    background-color: #d2e6e6 !important;
}
