/* Burgermenu CSS Animation */

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

/* Burgermenu CSS Animation Slut */

#pagewrap {
    max-width: 800px;
    margin: auto;
    border: 3px solid lightgrey;
    padding: 2em;
    margin-bottom: 1.5em;
    background-image: url(../img/pet_bg_small.jpg) repeat 0 0;
}

footer {
    background-color: #000000;
    color: #999999;
    text-align: center;
    padding: 3em;
    background-image: url(../img/pet_bg_small.jpg) repeat 0 0;
}

body {}
